.page-wrap {
    display: block;
    _height: 100%;
    min-height: 100%;
    position: relative;
}
#main {
    clear: both;
    margin: 0 auto;
    padding-bottom: 75px;
    width: 900px;
}
#bd_logo.anime {
    -webkit-transition: margin .4s;
    -moz-transition: margin .4s;
    -ms-transition: margin .4s;
    transition: margin .4s;
}
.skin-dark .skin-logo, .skin-logo {
    background-image: url(https://p.ssl.qhimg.com/t01d1f1a2ae31e3c3e4.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    height: 125px;
    margin: 0 auto;
    position: relative;
    width: 400px;
    z-index: 0;
    cursor: default;
    text-indent: -999em;
    overflow: hidden;
}
#bd_search {
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-transition: margin-bottom .4s;
    transition: margin-bottom .4s;
    width: 645px;
    height: 46px;
    _z-index: 1;
}
#input-container {
    *background: #fff;
    position: relative;
    width: 640px;
    z-index: 9;
}
.ac_wrap {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
    color: #333;
    font-size: 14px;
    margin-top: 0;
    overflow-y: hidden;
    position: absolute;
    top: 45px;
    left: 0;
    width: 540px;
    display: none;
    z-index: 100;
}
.ac_wrap.active {
    display: block;
}
.ac_wrap_inner {
    border: 1px solid #e2e2e2;
}
.ac_wrap .bottom-tool {
    border-top: 1px solid #f2f2f2;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    text-align: right;
}
.ac_wrap ul {
    margin: 0;
    padding: 0;
}
.ac_wrap li {
    color: #333;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    list-style: none;
    padding: 0 0 0 10px;
    position: relative;
}
.ac_wrap li.hover, .ac_wrap li.selected {
    background-color: #f9f9f9;
}
.ac_wrap li.local {
    color: #77c;
}
.ac_wrap li.local a.del {
    display: none;
    float: right;
    height: 14px;
    margin-right: 10px;
    overflow: hidden;
    width: 14px;
}
.ac_wrap li span {
    display: inline-block;
    vertical-align: middle;
}
.ac_wrap .bottom-tool {
    border-top: 1px solid #f2f2f2;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    text-align: right;
}
.ac_wrap #clear_history {
    color: #666;
    font-size: 12px;
    margin-right: 10px;
    text-decoration: none;
}
.skin-search-input {
    border: 1px solid #bbb;
}
.skin-search-input:hover {
    border: 1px solid #999;
}
.skin-search-input.hover {
    border: 1px solid #19b955;
}
#suggest-align {
    height: 34px;
    padding: 5px 10px;
    position: relative;
    vertical-align: top;
    width: 519px;
}
#input {
    background: transparent;
    border: none;
    color: #333;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
    outline: none;
    width: 519px;
}
.skin-search-button {
    background: #19b955;
    color: #fff;
}
.skin-search-button {
    background: #19b955;
    color: #fff;
}
.skin-search-button:hover {
    background: #1bc550;
}
#search-button {
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    height: 46px;
    left: 540px;
    letter-spacing: 1px;
    outline: none;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 100px;
}