html, body, form, fieldset, input, p, img, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background: #fff;
    font-size: 12px;
    font-family: arial;
    min-height: 512px;
    min-width: 1000px;
    position: relative;
}